.section {
  position: relative;
  display: block;
  width: 200px;
  height: 300px;
  overflow: scroll;
}
.texto-rojo{
  color:red;
  background-color: skyblue;
  border:3px solid khaki;
}
.grande{
  display: block;
}
.chico{
  display: block;

  background-color: blue;
  color: green;
}
.hasta-laprosis{
  animation:chao 3s linear 1;
  opacity: 0;
}
@keyframes chao{
  to{
    opacity:0;
  }
  from{
    opacity:1;
  }

}
:host{
  background-color: lightgrey;
}
