<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


<div style="background-image:url('https://media.revistagq.com/photos/6141d03deafd6051389c2a55/master/pass/cookie-clicker.jpeg')">

  <div class="container">
    <h1 style="color: green;">
    ${{dinero}}
  </h1> <br>
<button (click)="clickear()"class="btn btn-info mb-2">
  <h3 style="color: white;">
    Ganar+{{ powerUpnum }}
  </h3>
</button>
<button (click)="powerUp1()"class="btn btn-success ml-2 mb-2">
  <h3 style="color: white;">
    power up x{{ powerUpnum+1 }}
    ({{ costePowerUp }})
  </h3>
</button> <br>
<button (click)="finalizarJuego()"class="btn btn-info mb-2">
  <h5 style="color: white;">
    Finalizar:{{Meta}}
  </h5>
</button><br>
<button (click)="restart()" class="btn btn-danger">
  <h5 style="color: white;">
    reiniciar juego
  </h5>
</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h1>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h1>
</div>

</div>
