<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<body [class.claramentewn]="admitido">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">¿Usted es w***?</h5>
    <button type="button" class="btn btn-primary" (click)="admitido=!admitido"(click)="botonsi()"
    >Si</button>

    <button type="button" class="btn btn-danger"
    (mouseover)="botonMostrar=!botonMostrar" [class.claramenteno]="botonMostrar">No
    </button>

    <button type="button" class="btn btn-danger"
    (mouseover)="botonMostrar=!botonMostrar" [class.claramenteno]="!botonMostrar">no</button>
  </div>
</div>
</body>
