<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>
        Menu</ion-title>
    </ion-toolbar>
    <ion-button color="light" [routerLink]="['']">
      <ion-icon name="albums-outline"></ion-icon>
      Principal
    </ion-button>
    <br>
    <ion-button color="light" [routerLink]="['/login']">
      <ion-icon name="add-circle-outline"></ion-icon>
      Login
    </ion-button>
    <br>
    <ion-button color="light" [routerLink]="['/signup']">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
      signup
    </ion-button>
    <br>
  </ion-header>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>


    


  </ion-content>
</div>
