<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<h2 style="color: brown;">Falta: {{Faltante}}</h2>
<h2 style="color: green;">${{resultado}}</h2>
<br>
<button class="btn btn-info"(click)="powerup()">Power Up({{power*150}}) </button>
<button class="btn btn-success"(click)="sumar()">
  <img src="https://media.revistagq.com/photos/6141d03deafd6051389c2a55/master/pass/cookie-clicker.jpeg" alt="15px" height="15px">
   Sumar:{{ power }}
  </button>
<br>
<br>
<button class="btn btn-danger"(click)="Restart()">Reiniciar juego</button>

