<h1>id:</h1><input type="number" [value]="autitonuevo.id" (input)="cambiarid($event)">
<br>
<h1>marca:</h1><input type="text" [value]="autitonuevo.marca"  (input)="cambiarmarca($event)"     >
<br>
<h1>modelo:</h1><input type="text" [value]="autitonuevo.modelo"  (input)="cambiarmodelo($event)"    >
<br>
<h1>año:</h1><input type="number" [value]="autitonuevo.anio"(input)="cambiaranio($event)">
<br>
<h1>foto url:</h1><input type="url" [value]="autitonuevo.foto" (input)="cambiarfoto($event)" >
<br>
<h1>tipo:</h1>
<select  (change)="cambiartipo($event)" >
  <option [value]="tipo" *ngFor="let tipo of arrayparatipo"  >
  {{ tipo }}
  </option>
</select>
<br>
<h1>motor:</h1><input type="number" [value]="autitonuevo.Motor"(input)="cambiarMotor($event)">
<br>
<br>
<button role="submit" (click)="guardar()">enviar formulario </button>
